 .attribution {
     font-size: 11px;
     text-align: center;
 }

 .attribution a {
     color: hsl(228, 45%, 44%);
 }

 body {
     background-color: lightgrey;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 section {
     background-color: white;
     border-radius: 10px;
     width: 240px;
     height: 380px;
     padding: 10px;
 }

 img {
     width: 240px;
     height: 240px;
     border-radius: 10px;
 }

 article {
     text-align: center;
     margin: 10px;
 }