 .attribution {
     font-size: 11px;
     text-align: center;
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 2.5rem;
 }

 .attribution a {
     color: hsl(228, 45%, 44%);
 }

 body {
     position: relative;
     min-height: 100vh;
     background-color: lightgrey;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 section {
     background-color: white;
     border-radius: 10px;
     width: 240px;
     height: 400px;
     padding: 10px;
 }

 img {
     width: 240px;
     height: 240px;
     border-radius: 10px;
 }

 article {
     text-align: center;
     margin: 10px;
 }

 h3 {
     font-family: 'Outfit', sans-serif;
     font-weight: 700;
 }

 p {
     font-family: 'Outfit', sans-serif;
     font-weight: 400;
     font-size: 15px;

 }